<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <app-series-list [series]="series" (selectionChanged)="selectedSeriesChanged($event)"></app-series-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-tab-group>
      <mat-tab label="Plans">
        <app-pricing-plan-manager [pricingPlans]="pricingPlans" [savePlan]="savePlan"></app-pricing-plan-manager>
      </mat-tab>
      <mat-tab label="Readings">
        <app-meter-reading-manager [meterReadings]="meterReadings" [saveMeterReading]="saveMeterReading"></app-meter-reading-manager>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>
