<table mat-table [dataSource]="statistics">
  <ng-container matColumnDef="validFrom">
    <th mat-header-cell *matHeaderCellDef> Valid From (Inclusive) </th>
    <td mat-cell *matCellDef="let stat"> {{stat.validFrom}} </td>
  </ng-container>
  <ng-container matColumnDef="validTo">
    <th mat-header-cell *matHeaderCellDef> Valid To (Exclusive) </th>
    <td mat-cell *matCellDef="let stat"> {{stat.validTo}} </td>
  </ng-container>
  <ng-container matColumnDef="consumption">
    <th mat-header-cell *matHeaderCellDef> Comsumption </th>
    <td mat-cell *matCellDef="let stat"> {{stat.consumption}} </td>
  </ng-container>
  <ng-container matColumnDef="costs">
    <th mat-header-cell *matHeaderCellDef> Costs </th>
    <td mat-cell *matCellDef="let stat"> {{stat.costs}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
