<table mat-table [dataSource]="pricingPlans">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? planClicked(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let plan"> {{plan.name}} </td>
  </ng-container>
  <ng-container matColumnDef="basePrice">
    <th mat-header-cell *matHeaderCellDef> Base Price </th>
    <td mat-cell *matCellDef="let plan"> {{plan.basePrice}} </td>
  </ng-container>
  <ng-container matColumnDef="unitPrice">
    <th mat-header-cell *matHeaderCellDef> Unit Price </th>
    <td mat-cell *matCellDef="let plan"> {{plan.unitPrice}} </td>
  </ng-container>
  <ng-container matColumnDef="validFrom">
    <th mat-header-cell *matHeaderCellDef> Valid From </th>
    <td mat-cell *matCellDef="let plan"> {{plan.validFrom | americanDate}} </td>
  </ng-container>
  <ng-container matColumnDef="validTo">
    <th mat-header-cell *matHeaderCellDef> Valid to </th>
    <td mat-cell *matCellDef="let plan"> {{plan.validTo  | americanDate}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="planClicked(row)"></tr>
</table>
