<div class="flex-parent">
  <div class="tools">
    <form #myForm="ngForm">
      <div class="form-row">
        <mat-form-field>
          <mat-label>Start</mat-label>
          <input matInput [matDatepicker]="startPicker" [(ngModel)]="startDate" name="startDate"
                 required/>
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker name="startDate" ngDefaultControl></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>End</mat-label>
          <input matInput [matDatepicker]="endPicker" [(ngModel)]="endDate" name="date"
                 required/>
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker name="date" ngDefaultControl></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="load()">Load</button>
      </div>
    </form>
  </div>
  <div class="table-container">
    <app-statistics-table [statistics]="currentStats"></app-statistics-table>
  </div>
</div>
